*{
    background-color: grey;
    color: #000;
    font-weight: 500;
}

nav{
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: white;
}

nav a {
    text-decoration: none;
    background-color: white;
}

.todo-wrapper{
    display: flex;
    border: 1px dotted black;
    justify-content: center;
    gap: 60px;
}

.modal{
    inset: 0;
    backdrop-filter: blur(20px);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items:  center;
    background-color: white;
}

button{
    padding: 5;
    border-radius: 10px;
    border: 1px solid black;
}